* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(160deg, #ffd6e8, #ffb6d9);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* screens */
.screen {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.screen.active {
  opacity: 1;
  pointer-events: all;
}

/* card */
.card {
  width: 92%;
  max-width: 380px;
  background: #fff;
  padding: 20px;
  border-radius: 26px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.couple-img {
  width: 100%;
  border-radius: 18px;
  margin-bottom: 15px;
}

/* Marwan style */
.marwan {
  background: linear-gradient(45deg, #ff2d95, #ff6bbd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
.title {
  font-size: 18px;
}
/* valentine box */
.subtitle-box {
  background: #ffe3f3;
  padding: 10px;
  border-radius: 16px;
  margin: 14px 0 22px;
  color: #ff2d95;
  font-weight: 600;
  font-size: 20px;
}

/* buttons */
.buttons {
  display: flex;
  gap: 12px;
}

.btn {
  border: none;
  border-radius: 18px;
  padding: 14px;
  font-size: 18px;
  font-weight: 600;
}

/* YES bigger heartbeat */
.yes {
  flex: 1.5;
  background: #d81b60;
  color: #fff;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.12);
  }
}

.no {
  flex: 1;
  background: #eee;
  position: relative;
}

/* falling emojis */
.emoji {
  position: fixed;
  top: -20px;
  pointer-events: none;
  animation: fall linear forwards;
}
@keyframes fall {
  to {
    transform: translateY(110vh);
    opacity: 0;
  }
}

/* popup */
#noMessage {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 10px 18px;
  border-radius: 20px;
  opacity: 0;
}

/* slideshow */
.slideshow img {
  width: 100%;
  border-radius: 16px;
  margin: 12px 0;
}

/* countdown */
#countdown {
  font-weight: 600;
  color: #ff2d95;
  margin: 8px 0;
}
